* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

header {
    background-image: url(./sources/12.png);
    background-size: cover;
    width: 100%;

}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:auto;

}
.bosh{
    margin:auto;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    width: 654px;
}

header nav ul li a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding: 17px 26px;
    display: block;

    color: #515151
}


header nav ul li a:hover {

    display: block;
    background: #515151;
    color: #FFFFFF;
}

.logo {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #CB0A15;
}

.ost2 {
    margin-top: 275px;
    padding-bottom: 275px;
}

header .ost {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #515151;
}

header h1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;

    color: #CB0A15;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

main .desc {
    width: 550px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;

    color: #919191;
}

.a {
    width: 550px;
    font-family: 'Arial';
    font-style: normal;

    font-size: 16px;
    line-height: 18px;

    color: #919191;
    font-weight: 400;

}

.menu {
    display: flex;
    flex-direction: column;

}

.bir {
    display: flex;



}

.bir p {
    width: 350px;
    text-align: left;
    margin-top: 18px;
}

.bir img {
    margin: 0px 29px 27px 31px;
}

footer {
    margin-top: 88px;

    background: #F9F9F9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    height: 330px;

}


.alibaba h3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #000000;

}

.alibaba ul {
    margin-top: 22px;
}


.alibaba ul li a:hover {
    color: #7a7878;
}

.alibaba ul li a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-decoration: underline;

    color: #A5A5A5;

}
.k1 {
    margin:auto;
    display:flex;
    width:1000px;
    justify-content:space-between;
}
