* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body{
    background-image: url(./sources/background.jpg);
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
}
    

.asosiy {
    position: relative;

    
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 25px;
    position: relative;
    width: 1200px;
    margin: auto;


}

header {
    background-color: rgba(0, 0, 0, 0.336);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 800px;
    padding-top:5px ;
}

header nav ul li {
    color: #afa4a4;
    font-family: 'DynaPuff', cursive;
    font-size: 15px;
    padding: 10px 10px;
    display: block;
}
header nav ul li:hover{
    background-color: #DD4400;
    color: #ebe2e2;
}


.logo {
    font-family: 'Syncopate', sans-serif;
    color: #DD4400;
    font-size: 30px;

}

header button {
    border-radius: 19px;
    width: 125px;
    height: 35px;
    background-color: #FF5B56;
    color: #ebe2e2;
    border-color: #FF5B56;
}

header button:hover {
    background-color: #e7605b;
    color: #ebe2e2;
    border-color: #fd7e7a;
}



.orta {
    margin: auto;
    width: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section {

    padding-left: 100px;
    padding-top: 150px;
}

section h4 {
    font-family: 'DynaPuff', cursive;
    color: #afa4a4;
    margin-bottom: 25px;
}

section h1 {
    font-family: 'Roboto', sans-serif;

    font-size: 40px;
    text-align: left;
    color: #afa4a4;

    margin-bottom: 22px;
    font-weight: 900;
}

section h3 {
    color: #DD4400;
    margin-bottom: 18px;
}

section p {
    color: #afa4a4;
    line-height: 25px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

section button {
    width: 180px;
    height: 50px;
    font-family: 'Syncopate', sans-serif;
    background-color: #DD4400;
    color: #ebe2e2;
    border-radius: 19px;
    border-color: #dd4200e8;
    font-weight: 900;
    text-align: center;
    margin-bottom: 100px;

}
section button:hover{
    background-color: rgba(202, 64, 5, 0.847)
}
