* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body{
    background-image: url(./sources/background.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 55px;
    color: aliceblue;
}
/* =========  HEADER  ========= */

header nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 30px;
    background-color: rgba(160, 152, 152, 0.447);
}
.logo{
    font-family: 'Syncopate', sans-serif;
    color: #DD4400;
    font-size: 30px;
}
header select{
    /* margin-top: 20px; */
    width:120px;
    height: 35px;
    font-family: cursive;
    background-color: rgba(240, 248, 255, 0);
    border-radius: 20px;
    font-size: 15px;
    font-weight: 900;
    color: #ffffff;
}
header select:hover{
    background-color: #FF5B56;
}
header option {
    background-color: #0c0404;
    border-color: #0c0404;
    text-transform: uppercase;
    font-family: 'Aboreto', cursive;
    font-weight: 700;
    color: #ffffff;
}   
.orta_section{
    margin-top: 3%;
    padding-left: 10%;
    padding-bottom: 2%;
}
section h3 {
    font-family: 'DynaPuff', cursive;
    color: #afa4a4;
    margin-bottom: 25px;
}

section h1 {
    font-family: 'Roboto', sans-serif;

    font-size: 40px;
    text-align: left;
    color: #afa4a4;

    margin-bottom: 22px;
    font-weight: 900;
}

section h3 {
    color: #DD4400;
    margin-bottom: 18px;
}

section p {
    color: #afa4a4;
    line-height: 25px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}




section button {
    border-radius: 19px;
    width: 125px;
    height: 35px;
    background-color: #fa504a;
    color: #ebe2e2;
    border-color: #FF5B56;
}

section button:hover {
    background-color: #e7605b;
    color: #ebe2e2;
    border-color: #fd7e7a;
}

