* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header {
  width: 100%;
  text-align: center;
}

header .img {
  margin-bottom: 51px;
  margin-top: 64px;
}

header nav ul {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-bottom: 65px;
}

header nav ul li a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */


  color: #000000;
}

header nav ul li a:hover {
  text-decoration: underline;
  color: #4581B7;
}

/* ===  SECTION  === */

section {
  display: flex;
  width: 1120px;
  margin: auto;
  margin-top: 30px;

}

.boxa {
  width: 730px;
  height: 460px;
  background: rgba(196, 196, 196, 0.5);
  margin: auto;
  padding: 50px 38px 79px 30px;
}

.boxa h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  /* Blue */

  color: #4581B7;
}

.boxa p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  margin-top: 20px;
  text-align: left;


  color: rgba(0, 0, 0, 0.5);
}

.boxb {
  padding: 50px 16px 152px 30px;
  width: 350px;
  height: 460px;
  background: rgba(196, 196, 196, 0.5);
  margin: auto;

}

.boxb h3 {
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  /* Blue */

  color: #4581B7;
}

.boxb p {
  margin-bottom: 35px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.boxb a {
  margin-bottom: 35px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}


/* ==========  FOOTER  ======== */
footer {
  margin-top: 35px;
  width: 100%;

}

.obshi {
  background: rgba(196, 196, 196, 0.5);
  display: flex;
  justify-content: space-between;
  width: 1110px;
  height: 160px;
  margin: auto;
  padding: 30px 20px 57px 20px;
}

.past_2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: right;
  margin-right: 57px;


  color: rgba(0, 0, 0, 0.5);
}
.past_2 a{
  color: rgba(0, 0, 0, 0.5);
  margin-top: 4px;
}