* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

.container {
    max-width: 1140px;
    height: auto;
    margin: auto;

}

:root {
    --yashil: #4E9F0D
}

.space-b {
    display: flex;
    justify-content: space-between;
}

/* ==========================================  HEADER  ========================================= */
body {
    background-color: black;
    background-size: cover;
    padding-top: 33px;
    width: 100%;
    /* background-position: center center; */
}

header {
    width: auto;
    background-image: url(./Sources/bg_img\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    padding-bottom: 151px;
}

header .logo {
    background: #4E9F0D;
    border-radius: 3px;
    width: 160px;
    height: 30px;
    color: white;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;

    color: #FFFFFF;
}


header ul {
    width: auto;
    gap: 25px;
}

header ul li a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 33px 10px;
    color: var(--yashil);


}

header ul li a:hover {
    background-color: var(--yashil);
    color: white;
    transition: 0.4s;
}

header h1 {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 85px;
    text-transform: uppercase;
    color: var(--yashil);
    margin-top: 150px;
}

header h3 {
    margin-top: 20px;
    color: var(--yashil);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    /* identical to box height */

    text-transform: lowercase;
}

header p {
    margin-top: 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 10px 10px;
}

header .price {
    margin-top: 52px;
    width: 350px;
    height: 100px;
    background-color: var(--yashil);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;

    color: #FFFFFF;
    text-align: center;
    padding: 17px 0;
    /* margin-bottom: 151px; */
}




/* =================================  SECTION  =================================== */

section nav {
    width: 40%;
    margin: 47px 0 74px 0;
}

section nav ul li a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #7A7A7A;
}

section nav ul li a:hover {
    color: var(--yashil);
    transition: 0.25s;
}

.menua {
    color: white;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2%;
    margin: auto;
    position: relative;
    

}

.box {
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    /* height: auto; */
    

    /* display: flex; */
    /* flex-direction: column; */
    /* text-align: center; */
    margin: auto;
    margin-top: 50px;
    height: 350px;
    /* width: calc(100%/12*4); */
    /* justify-content: space-between; */
}
.box:hover{
    z-index: 1;
    transform:scale(1.11) ; 
    /* margin-bottom: 50px; */
}

.box .rasm{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}
.box .rasm::before{
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #4f9f0d66;
    /* mix-blend-mode: multiply ; */
    transition: 0.5s;
    opacity: 0;


}
.box:hover .rasm::before{
    opacity: 1;
     
}
.rasm img{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 150px 80px;
    align-items: flex-end;
}

.desc{
    transition: 0.6s;
    transform: translateY(40px);
    margin-bottom: 40px;
    /* text-transform: uppercase; */
}
.box:hover desc{
    transform: translateY(50px);
}
.overlay p{
    transition: 0.5s;
    text-transform: uppercase;
    transform: translateY(200px);

}
.box:hover .overlay p{
    transform: translateY(0);
    transition-delay: 0.2s;
    color: black;
    font-weight: 800;
}









.desc {
    text-align: center;
    

}

.desc p {
    width: 348px;
}

.desc {
    width: 348px;
}











@media (max-width:640px) {
    header nav {
        margin: auto;
        width: auto;
        display: flex;
        flex-direction: column;
    }

    header .logo {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    header nav ul {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 60px;
        align-items: center;
        justify-items: center;
    }

    header h1 {
        font-size: 52px;
        text-align: center;
        /* padding: 10px 15px; */
    }

    header h3 {
        font-size: 31px;
        font-weight: 200;
        text-align: center;
    }
  
    header .price {
        margin-left: 6%;
        width: 100px;
        display: flex;
        align-items: center;
        height: 50px;
        font-size: 30px;
        padding: 17px 5px;
        /* font-weight: 500; */

    }
    section nav{
        margin: auto;
        margin-top: 50px;
    }
    section nav ul{
        justify-content: space-between;
        line-height: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .res{
        margin: auto;
    }
    .box:hover{
        transform: scale(1.05);
    }
    /* .box{
        width: auto;
    }
    .desc p{
        width: 300px;
        display: flex;
        margin: auto    ;
        align-items: center;
    }
    .review{
        margin: auto;
    } */
}