* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    width: 100%;

}

header nav {
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 29px;
    background: #262626;
}

header nav ul {
    width: 500px;
    display: flex;
    justify-content: space-between;

}

header nav ul li a {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
}

header nav ul li a:hover {
    color: #FF5B56;
}

.menu_a {
    height: 347px;
    background: #2A2A2A;
    text-align: center;


}

.menu_a h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 72px;


    color: #D9D9D9;
}

.menu_a p {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    font-size: 40px;
    line-height: 47px;
    text-align: center;

    color: #D9D9D9;

}

.menu_a button {
    width: 175px;
    height: 45px;
    color: #FFFFFF;
    background: #FF5B56;
    border-color: #FF5B56;
    border-radius: 6px;
    padding: 13px 37px;
    margin-top: 46px;

}

span {
    font-weight: 900;
}

/* =========   SECTION   ======== */

.orta {

    background-color: #F8F8F8;
    width: 100%;
}

.ichki {
    display: flex;
    height: 324px;
    text-align: center;
    width: 961px;
    margin: auto;
}

.icon {
    margin: auto;
}

.orta p {
    width: 228px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #616161;
}

.orta h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin: 23px 0 8px 0;


    color: #616161;
}

.orta_2 {

    margin-top: 43px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #616161;
    /* identical to box height */
}




.orta_2 h3 {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;

}

.orta_2 button {
    margin-top: 47px;
    margin: 10px;
    color: #FFFFFF;
    width: 111px;
    height: 32px;
    background: #FF5B56;
    border-radius: 3px;
    border-color: #FF5B56;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
}

.orta_2 button:hover {
    /* width: 115px;
    height: 34px; */
    background: #595959;
    border-color: #595959;
}

.rasmlar {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 70px;
    width: 975px;
}

.rasmlar img {
    border-radius: 5px;
}

/* ==========  FOOTER  ========== */

footer {
    width: 100%;
    margin: auto;
    text-align: center;
    background: #313131;
    padding-top: 44px;
}

.past h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */


    color: #E0E0E0;
    margin-bottom: 13px;
}

.past p {
    margin-bottom: 17px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */


    color: #616161;
}

.past b {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-right: 28px;

    color: #B5B5B5;
}

.past a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #B5B5B5;
}

footer .img {
    width: 160px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
}

footer .img .a {
    background: #F49E51;
    border-radius: 500px;
    width: 27px;
    height: 27px;
}

footer .img .b {
    background: #6976AB;
    ;
    border-radius: 500px;
    width: 27px;
    height: 27px;
}

footer .img .c {
    background: #61BEDF;

    border-radius: 500px;
    width: 27px;
    height: 27px;
}

footer .img .d {
    background: #EB90B1;

    border-radius: 500px;
    width: 27px;
    height: 27px;
}

footer .img .e {
    background: #D7484A;

    border-radius: 500px;
    width: 27px;
    height: 27px;
}

.img .i1 {
    text-align: center;
    margin: auto;
    margin-top: 6px;
}

.eng {
    height: 72px;
    width: 100%;
    background: #2C2C2C;
    text-align: center;
    padding-top: 27px;
}

.eng p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */


    color: #B5B5B5;

}