* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;

}
.main{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}



.up {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}

.boxa {
  background-image: url("./1614723891_106-p-foni-dlya-literaturi-128\ 1.png");

  position: absolute;
  width: 1060px;
  height: 500px;
  left: 170px;
  top: 250px;


}

.img {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 170px;
  top: 90px;
}

h2 {

  margin: auto;
  margin-top: 100px;
  width: 792px;
  height: 62px;
  left: 304px;
  top: 350px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 59px;

  color: #494949;
}

h5 {
  position: absolute;
  width: 73px;
  height: 23px;
  left: 1157px;
  top: 134px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.orta {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}

.box {
  background-color: #646262;
  width: 330px;
  height: 330px;



}

.p {
  width: 239px;
  padding: 81px 41px 26px 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;

}

.a {
  position: absolute;
  width: 330px;
  height: 330px;
  left: 170px;
  top: 800px;

  background: #C4C4C4;
}

.b {
  position: absolute;
  width: 330px;
  height: 330px;
  left: 535px;
  top: 800px;

  background: #C4C4C4;
}

.c {

  position: absolute;
  width: 330px;
  height: 330px;
  left: 900px;
  top: 800px;

  background: #C4C4C4;
}

h3 {

  position: absolute;
  width: 254px;
  height: 26px;
  left: 38px;
  top: 38px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;

}



.down {
  position: absolute;
  width: 1400px;
  height: 260px;
  left: 0px;
  top: 1190px;

  background: #C4C4C4;

}

.step1 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 170px;
  top: 80px;


  background: url(./book\ 1.png);
}

.step2 {
  margin: 90px 170px 142px 864px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;

}

.num {
text-align: right;
}